.home {
  #feed_1 {
	  
	  background: url(../img/feed.jpg) no-repeat center center;
	  background-size: cover;
	  
	  small { 
		  font-size: 100%;
	  }
	  
	  p {
		  margin-top: 15px;
		  line-height: 24px;
	  }
	  
	  h3 {
		 
		 font-family: $font-family-2bi;
		 color: $secondary-color;
		 text-transform: none;
		 font-size: 30px;
		  
	  }
	  .button {
		  margin-bottom: 10px;
	  }
	  .description {
		  padding-bottom: 30px;
	  }
	  @include breakpoint(small only) {
			.callout{
				margin-bottom: 25px;
			}
		}

    
  }
}
