.home {
  .hero {
	.hero-slide {
		padding: 130px 0;
		background-size: auto;
		background-color: #121F25;
		&.jumbotron {
		    background-attachment: fixed;
		    overflow: hidden;
			position: relative;							
		}
		@include breakpoint(small only) {
			padding: 30px 15px;
		}		
		
		.hero-content {	  
			padding: 35px;
			max-width: 750px;
			
			h2{
				line-height: 60px;
				margin-bottom: 5px;
				@include breakpoint(small only) {
					line-height: 40px;
				}
			}
			h3 {
				margin-bottom: 20px;
				letter-spacing: 1px;
			}
			
		}
	}

  }
}
