.home {
	
	#services_1 {
		
		text-align: center;
		background: $theme-black;		
		
		h2 {
			
			font-size: 42px; 
			color: $third-color;
			font-family: $font-family-2;
			line-height: 42px;
		}
		
		h3 {
			
			letter-spacing: 1px
			
		}
		
		h4 {
			
			margin: 20px 0 10px;
			
		}
		
		.serv {
			margin-bottom: 40px;
			float: none;
			display: inline-block;
			width: 32%;	
			@include breakpoint(small only) {
				width: 100%;
			}
		
		}
		
		p {
			
			line-height: 25px;
			
		}
		
	}
	
	#services_2 { 
		
		background: url(../img/why.jpg) no-repeat center center;
		background-size: cover;
		
		h2 {
			
			font-size: 42px; 
			color: $third-color;
			font-family: $font-family-2;
			line-height: 42px;
		}
		
		h4 { 
			color: $theme-black;			
			margin-bottom: 10px;
			&:hover {
				color: $secondary-color;
			}
		}
		
		p {
			line-height: 25px;
			color: $theme-black;
		}
		
		.button {
			background: $secondary-color;
			color: $theme-white;
			font-size: 18px;
			font-family: $font-family-b;
			&:hover {
				background: $primary-color;
				color: $secondary-color;
			}
			
		}
		
	}
	
	.service-icons {

	}
}
