footer {	
	
	.large-3{
		margin-bottom: 45px;
		a {
			text-decoration: none;
			font-family: $font-family-b;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.button {
		margin-top: 20px;
	}	
	.sitemap li {
		
		a {
			padding: 10px 0;
			&:before {
				content: "•";
				margin: 0 20px;
				color: $primary-color;
				@include breakpoint(small only) {
					content: "";
					margin: 0;
				}
			
			}
		}
				
		&:first-child {
			a{
				&:before{
					content: "";
					margin-left: 0;
				}
			}
		}
		
	}
	
	.gform_wrapper form {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	.credits p {
		font-size: 15px;
	}
	.credits a {
	
	font-family: $font-family-b;
	
	}
	
	.social ul li {
		&.fa-facebook {
			background-color: #547ABB;
		}
		&.fa-twitter {
			background-color: #79C9EC;
		}
		&.fa-linkedin {
			background-color: #1285C6;
		}
		&.fa-pinterest {
			background-color: #E85754;
		}
		&.fa-instagram {
			background-color: #855A37;
		}
		&:hover {
			background-color: $primary-color;
		}		
	}
	

}
