.content-container { // Contact page
  .content-container > .row > .medium-4 .gform_wrapper {
    display: none; // Hide sidebar contact form on contact page
  }

  	
  	label {
	  	color: $theme-white;
  	}
    .ginput_complex span label {
      display: block;
      color: $primary-color;
    }
    .gfield_label {
      display: block;
      color: $theme-white;
    }
    .ginput_container {
      height: auto;
    }

    .name_first, .name_last {
      width: 49%;
      margin-right: 0;
    }

    .name_last {
      float: right;
    }

    .gform_fields {
      @extend .medium-12;
    }

    .gform_footer {
      input[type="submit"] {
        margin-top: rem-calc(20);
        padding: rem-calc(17 20);
        font: map-deep-get($forms, footer, fonts, button-text);
        color: map-deep-get($forms, footer, colors, button-text);
        background-color: map-deep-get($forms, footer, colors, button-bg);
        @include uppercase(map-deep-get($forms, footer, uppercase, button-text));
        &:hover {
          color: map-deep-get($forms, footer, colors, button-text-hover);
          background-color: map-deep-get($forms, footer, colors, button-bg-hover);
        }
      }
    } 

}


.page-id-16 #gform_wrapper_1 {
	display: none;
}


footer .validation_message, footer .validation_error {
	color: $theme-white !important; 
	font-family: $font-family-b;
}
