.header-message-row {
	
	margin-top: 10.5px;

}

.sticky-container {
	z-index: 10000;
}

header {	
	
	background-size: cover;
	@include breakpoint(medium down) {
		background: $theme-black;
		
	}
	
	&.is-stuck {
		background: $theme-black;
		#logo img {
			margin-top: 0;
		}
	}
	
	#logo img {
		
		height: 106px;
		margin-top: -10px;
		@include breakpoint(medium down) {
			max-height: 80px;
			margin-top: 0;	
			height: auto;
			width: auto;
		}
		
	}
	
	#main_menu li {
		 a {
			padding: 10px 0;
			&:before {
				content: "•";
				margin: 0 10px;
				color: $primary-color;			
			}
		}
		ul {
			top: 56px;
			li {
				padding:8px 12px;
				a { 
					&:before{
						content: "";
						margin: 0;
					}				
				}
			}
		}
		
		&:first-child {
			a{
				&:before{
					content: "";
					margin-left: 0;
				}
			}
		}
		
	}
	
	
}