div .button {
	padding: 20px 40px;
}

strong { 
	font-family: $font-family-b;
}

.reveal-overlay #galleryModal{
	background:#000;
}

.banner.no-bg {
	background-size: cover;
	background-position: center center;
	.wrap {
		background: url(../img/yellow.png) repeat;
		padding: 20px;
		.page-title{
			line-height: 50px;
			margin-bottom: 10px;
			display: block;
		}
	}
}
.content-container > .row {
	padding: 0;
}
.content-container, .content-container > .row {
	
	background: $theme-black;
	
	.medium-8 {
		
		h4 { margin-bottom: 10px;}
		ul.dpArticleShare{
			li:before {
				display: block;
			}
		}
		.gform_wrapper {
		
			ul ul {
				margin-left: 10px !important;
			}
			.gfield_label{
				color: $third-color;
			}
		}
		
		ul:not(.gform_fields){
			
			margin-bottom: 15px;
			margin-left: 0;
			
			li {
				
				color: $theme-white;
				text-indent: -10px;
				
				&:before {
					
					vertical-align: middle;
					
				}
				
			}
			
		}
		
		ol { 
			counter-reset: item;
			margin-left: 0;
			li { 
				display: block;
				color: $theme-white;
				&:before {
		            content: counter(item) ". ";
		            counter-increment: item;
		            color: $secondary-color;
		            font-size: 14px;
		            font-family: $font-family-b;
		        }
			}	
		}
				
		.accordion {
			background: $theme-black;
			margin-bottom: 0 !important;
			.accordion-item {
			
				a.accordion-title {
				
					border-bottom: none;
					text-align: left;
					margin-bottom: 0;		
					text-transform: none;				
				}
				
				.accordion-content {			
					
					background: $theme-black;	
					border-bottom: none !important;
							
				}
				
				a.accordion-title:hover, a.accordion-title:focus {			
				
					background: $theme-black;
						
				}
				
				&.is-active a.accordion-title {
			
					border-bottom: none ;
					
				}
			
			}
		}		
	
		p a {
			font-family: $font-family-b;
			&:hover {			
				text-decoration: underline;
			}
		}
		
		.wp-caption {
			background: $theme-black;
			color: $theme-white;
			
			.wp-caption-text {
			font-family: $font-family-b;
			}
		}
		h1{
			margin-bottom: 5px;
		}
		h2 {
			margin-bottom: 20px;
		}
		
	}
	
	.call-to-action {
	
		h4 {
			margin-bottom: 6px;
			padding: 0 8px;
			line-height: 25px;
		}
		
		p { 
			
			padding: 0 20px;
			margin-bottom: 0;
			
		}
	}
	
	.feed {
		p {
			color: $theme-black;
			margin-top: 15px;
		}
		
		small {
			font-size: 100%;
		}
	}
	
	.testimonial {
		padding: 15px 0;
		border-top: 1px solid $secondary-color;
	}
	

}
