

.single{
	.menu-widget {
			
			margin-bottom: 40px;
			
	}
	
	#searchform {
		
		.button {
			
			border: none; 
			margin: 0;
			padding: 13px;
			
			
		}
		
	}
	
	.content-container .medium-8 ul.dpArticleShare li {
	
		text-indent: 0;
		
		
		&:before {
			
			content: "";
			padding: 0;
			margin: 0;
			
		}
		
	}
	
	.post-info {
		
		text-transform: uppercase;
		
	}
}

.content-container ul.gallery li.grid-item a .icon-expand {															
							
	background: $primary-color;			
																						
}

.reveal-overlay #galleryModal button { 
	color: #fff !important;
	background: none !important;	
	top: 5px !important;
}