@import 'util/util';

$theme-black: #000000;
$theme-white: #ffffff;
$theme-grey-light: #bdc3c7;
$theme-grey-dark: #485055;

$base-color: $theme-white;
$primary-color: #e3b04a;
$secondary-color: #ca2229;
$third-color: #e89f06;

// Font weights
$light: normal;
$regular: normal;
$bold: normal;
$heavy: normal;

// Font-Awesome Font Path
$fa-font-path: "../bower_components/font-awesome/fonts";

// Base Font
$font-family: 'Avenir LT W01_55 Roman1475520';
$font-family-b: 'Avenir LT W01_95 Black1475556';
$font-family-i: 'Avenir LT W01_55 Obliqu1475526';
$font-family-2: 'Geometric415W01-Medium';
$font-family-2b: 'Revolution Gothic W01 Bold';
$font-family-2bi: 'Revolution Gothic W01 Bold It';
// Form Styles
$form-text-height: rem-calc(40);
$form-spacing: rem-calc(20);

// Header Variables
$header: (
  background: url(../img/header.jpg) no-repeat center center,
  height: rem-calc(115),
  minimized-height: rem-calc(75),
  padding: rem-calc(15),
  icons: (
    size: rem-calc(35),
    distance-top: rem-calc(40),
    distance-side: rem-calc(30)
  ),
  social:(
	social-bg: $secondary-color,
	social-bg-hover: $theme-white,
	social-icon: $primary-color,
	social-icon-hover: $primary-color
  ),
  message: (
    height: rem-calc(35),
    font: normal normal $bold rem-calc(22) $font-family-2b,
    color: $theme-black,
    color-hover: $theme-grey-dark
  ),
  menu: (
    height: rem-calc(50),
    offset: rem-calc(-5),
    colors: (
      text: $theme-white,
      text-hover: $primary-color,
      submenu-text: $theme-white,
      submenu-text-hover: $secondary-color,
      submenu-bg: $theme-black,
      submenu-bg-hover: $primary-color,
      border-top: $primary-color,
      border-between: $primary-color
    ),
    fonts: (
      text: normal normal $bold rem-calc(14) $font-family,
      submenu-text: normal normal $bold rem-calc(14) $font-family
    ),
    uppercase: (
      text: true,
      submenu-text: true
    )
  )
);

// Front Page Variables
$front-page: (
  section-padding: rem-calc(40),
  button-font: normal normal $bold rem-calc(17) $font-family-b,
  hero: (
    colors: (
      bg: url(../img/yellow.png) repeat,
      subhead: $theme-black,
      heading: $theme-black,
      button-text: $primary-color,
      button-text-hover: $secondary-color,
      button-bg: $secondary-color,
      button-bg-hover: $primary-color
    ),
    fonts: (
      subhead: normal normal $bold rem-calc(30) $font-family-2bi,
      heading: normal normal $bold rem-calc(60) $font-family-2,
      subhead-size-small: rem-calc(15),
      heading-size-small: rem-calc(40)
    ),
    uppercase: (
      subhead: false,
      heading: false
    )
  ),
  services: (
    background: none,
    colors: (
      header: $secondary-color,
      service-header: $primary-color,
      service-header-hover: $secondary-color,
      service-content: $theme-white,
      button-text: $theme-white,
      button-text-hover: $theme-white,
      button-bg: $theme-black,
      button-bg-hover: $theme-grey-dark
    ),
    fonts: (
      header: normal normal $light rem-calc(30) $font-family-2bi,
      service-header: normal normal $bold rem-calc(26) $font-family-2,
      service-content: normal normal $regular rem-calc(16) $font-family,
      button-text: normal normal $bold rem-calc(18) $font-family
    ),
    uppercase: (
      header: false,
      service-header: false,
      button-text: true
    )
  ),
  blog: (
    background: url(../img/feed.jpg) no-repeat center center,
    colors: (
      heading: $third-color,
      subhead: $secondary-color,
      article-title: $secondary-color,
      article-title-hover: $primary-color,
      date: $theme-black,
      excerpt: $theme-black,
      button-text: #831419,
      button-text-hover: $primary-color,
      button-bg: $primary-color,
      button-bg-hover: $secondary-color
    ),
    fonts: (
      heading: normal normal $bold rem-calc(42) $font-family-2,
      subhead: normal normal $bold rem-calc(30) $font-family-2bi,
      article-title: normal normal $bold rem-calc(22) $font-family-2,
      date: normal normal $regular rem-calc(12) $font-family,
      excerpt: normal normal $regular rem-calc(16) $font-family
    ),
    uppercase: (
      heading: false,
      subhead: false,
      article-title: false,
      date: false
    )
  ),
  coupons: (
    background: $secondary-color,
    colors: (
      heading: $primary-color,
      subhead: $theme-white,
      coupon-head: $secondary-color,
      coupon-subhead: $theme-white,
      coupon-border: $theme-white,
      coupon-bg: $theme-black,
      info: $theme-white            
    ),
    fonts: (
      heading: normal normal $bold rem-calc(36) $font-family,
      subhead: normal normal $bold rem-calc(26) $font-family, 
      coupon-head: normal normal $bold rem-calc(26) $font-family,
      coupon-subhead: normal normal $bold rem-calc(14) $font-family,
      info: normal normal $bold rem-calc(15) $font-family      
    ),
    uppercase: (
      heading: true,
      subhead: false,       
      coupon-head: true,
      coupon-subhead: true
    )
  ),
  testimonials: (
    background: url(../img/testimonial.jpg) no-repeat center center,
    colors: (
      heading: $third-color,
      subhead: $theme-white,
      testimonial-text: $theme-white,
      testimonial-name: $theme-white,
      testimonial-location: $theme-white,
      button-text: #831419,
      button-text-hover: $primary-color,
      button-bg: $primary-color,
      button-bg-hover: $secondary-color,
      orbit-bg: $primary-color,      
      orbit-active: #edd093
    ),
    fonts: (
      heading: normal normal $bold rem-calc(42) $font-family-2,
      subhead: normal normal $bold rem-calc(30) $font-family-2bi,
      testimonial-text: normal normal $regular rem-calc(21) $font-family,
      testimonial-name: normal normal $bold rem-calc(21) $font-family-b,
      testimonial-location: normal normal $bold rem-calc(21) $font-family,
      button-text: normal normal $bold rem-calc(18) $font-family-b
    ),
    uppercase: (
      heading: false,
      subhead: false,
      testimonial-name: false,
      testimonial-location: false,
      button-text: true
    )
  )
);
// Interior Page Variables
$interior: (
  colors: (
    page-title: $theme-black,
    breadcrumbs: $theme-black,
    breadcrumbs-last: $theme-black,
    toggle-bg: $theme-black,
    toggle-bg-open: $theme-black,
    toggle-header: $secondary-color,
    toggle-header-open: $primary-color,
    toggle-content: $theme-white,
    toggle-border: $primary-color,
    h1: $primary-color,
    h2: $secondary-color,
    h3: $primary-color,
    h4: $secondary-color,
    h5: $primary-color,
    h6: $secondary-color,
    p: $theme-white,
    list-bullet: $secondary-color,
    link: $primary-color,
    link-hover: $secondary-color,
    blockquote-bg: #1f2023,
    blockquote-text: $theme-white,
    blockquote-border: $secondary-color,
    menu-header: $secondary-color,
    menu-links: $theme-white,
    menu-links-hover: $primary-color,
    menu-border: $primary-color,
    cta-heading: $secondary-color,
    cta-bg: #1f2023,
    cta-text: $theme-white,
    cta-button-text: $secondary-color,
    cta-button-text-hover: $primary-color,
    cta-button-bg: $primary-color,
    cta-button-bg-hover: $secondary-color
  ),
  fonts: (
    page-title: normal normal $bold rem-calc(60) $font-family-2,
    page-title-small-size: rem-calc(30),
    breadcrumbs: normal normal $regular rem-calc(14) $font-family-2,
    toggle-header: normal normal $bold rem-calc(22) $font-family-2,
    toggle-content: normal normal $regular rem-calc(16) $font-family,
    h1: normal normal $bold rem-calc(42) $font-family-2,
    h1-small-size: rem-calc(30),
    h2: normal normal $bold rem-calc(30) $font-family-2bi,
    h3: normal normal $bold rem-calc(26) $font-family-2,
    h4: normal normal $bold rem-calc(22) $font-family-b,
    h5: normal normal $bold rem-calc(16) $font-family-b,
    h6: normal normal $bold rem-calc(16) $font-family-b,
    p: normal normal $regular rem-calc(16) $font-family,
    blockquote: normal normal $regular rem-calc(21) $font-family,
    menu-header: normal normal $bold rem-calc(18) $font-family,
    menu-links: normal normal $bold rem-calc(14) $font-family,
    cta-heading: normal normal $bold rem-calc(26) $font-family-2,
    cta-text: normal normal $regular rem-calc(16) $font-family,
    cta-button-text: normal normal $bold rem-calc(18) $font-family-b
  ),
  uppercase: (
    page-title: false,
    breadcrumbs: false,
    h1: false,
    h2: false,
    h3: false,
    h4: false,
    h5: true,
    h6: true,
    post-info: false,
    menu-header: true,
    menu-links: true,
    cta-heading: false,
    cta-button-text: true
  ),

  coupons: (
    colors: (
      background: #f6fbf5,
      border: $theme-grey-dark,
      divider: $theme-black
    )
  ),

  page: (
    header-bg: url(../img/banner.jpg) no-repeat,
    header-title-bg: url(../img/yellow.png) repeat
  ),


  single: (
    colors: (
      post-info: $secondary-color
    ),
    fonts: (
      post-info: normal normal $bold rem-calc(18) $font-family-b
    )
  )
);
// Form Variables
$forms: (
  footer: (
    colors: (
      heading: $third-color,
      subhead: $theme-white,
      contact-head: $primary-color,
      contact-text: $theme-white,
      textboxes: $theme-white,
      button-text: #831419,
      button-text-hover: $primary-color,
      button-bg: $primary-color,
      button-bg-hover: $secondary-color,
      link-text: $third-color,
      link-text-hover: $theme-white
    ),
    fonts: (
      heading: normal normal $bold rem-calc(42) $font-family-b,
      subhead: normal normal $bold rem-calc(30) $font-family-2bi,
      contact-head: normal normal $bold rem-calc(16) $font-family-b,
      contact-text: normal normal $regular rem-calc(16) $font-family,
      textboxes: normal normal $regular rem-calc(14) $font-family,
      button-text: normal normal $bold rem-calc(18) $font-family-b,
    ),
    uppercase: (
      heading: false,
      subhead:false,
      contact-head: true,
      contact-text: false,
      textboxes: false,
      button-text: true
    )
  )
);

// Footer Variables
$footer: (
  menu-height: rem-calc(50),
  colors: (
    bg: $theme-black,
    menu: $theme-white,
    menu-hover: $primary-color,
    credits: $theme-white,
    credits-link: $primary-color,
    credits-link-hover: $theme-white,
    social-bg: $primary-color,
    social-bg-hover: $secondary-color,
    social-icon: $secondary-color,
    social-icon-hover: $primary-color
  ),
  fonts: (
    menu: normal normal $bold rem-calc(14) $font-family,
    credits: normal normal $regular rem-calc(14) $font-family
  ),
  uppercase: (
    menu: true
  )
);
