section.hero {
  padding: 0;
  .button {
    margin-bottom: 0;
    color: map-deep-get($front-page, hero, colors, button-text);
    background-color: map-deep-get($front-page, hero, colors, button-bg);
    &:hover {
      color: map-deep-get($front-page, hero, colors, button-text-hover);
      background-color: map-deep-get($front-page, hero, colors, button-bg-hover);
    }
  }
}
.hero-slide {
  padding: rem-calc(100 0);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  &.jumbotron {
	background-attachment: fixed;
    overflow: hidden;
	position: relative;	
  } 

  h3 {
    color: map-deep-get($front-page, hero, colors, subhead);
    font: map-deep-get($front-page, hero, fonts, subhead);
    @include uppercase(map-deep-get($front-page, hero, uppercase, subhead));
    @include breakpoint(medium down) {
      font-size: map-deep-get($front-page, hero, fonts, subhead-size-small);
    }
  }
  h2 {
    color: map-deep-get($front-page, hero, colors, heading);
    font: map-deep-get($front-page, hero, fonts, heading);
    @include uppercase(map-deep-get($front-page, hero, uppercase, heading));
    @include breakpoint(medium down) {
      font-size: map-deep-get($front-page, hero, fonts, heading-size-small);
    }
    margin-bottom: rem-calc(24);
  }

  .orbit-slide & {
    padding: rem-calc(100 0 150 0);
  }
  .hero-content {
    max-width: rem-calc(600);
    padding: rem-calc(60);
    margin: 0 auto;
    white-space: nowrap;
    background: map-deep-get($front-page, hero, colors, bg);

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .hero-content-center {
      white-space: normal;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.hero .orbit-bullets {
  margin-top: rem-calc(-62);
  margin-bottom: rem-calc(38);
  button {
    height: rem-calc(12);
    width: rem-calc(12);
    background-color: $primary-color;
    &.is-active {
      background-color: $secondary-color;
    }
  }
}
.orbit-container {
  height: auto !important; // This fixes an issue with the orbit plugin
                           // incorrectly defining a static height

  width: 100%; // No idea why this is necessary but it is... ¯\_(ツ)_/¯
}
